/* 
Google fonts
*/

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap");

/* 
BG Color: EF6C57
Text Color: EF6D58
Button Color: EF6D58
*/

/* 
basic css
*/
body {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  background-color: #fdf0e9;
}
.section-heading h3 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}
.section-heading h2 {
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
}
.section-heading p {
  font-size: 16px;
  line-height: 32px;
  vertical-align: Top;
  color: rgba(255, 255, 255, 0.64);
}

/*  
Header area
*/

.header-area {
  background-color: #1e1e1e;
  padding: 15px 0;
}

.header-area .nav-link {
  color: #fff;
}
.header-area.nav-link {
  padding: 0;
}
.header-area .nav-item {
  margin: 0 35px;
}
.header-area .nav-item:last-child {
  margin-right: 0;
}
.header-area .nav-item:last-child a {
  border: 1px solid rgba(255, 255, 255, 0.64);
  padding: 10px 25px;
  border-radius: 6px;
}
.header-area .nav-link,
.header-area .nav-link.active {
  color: #fff;
}

/* 
Hero area
*/

.hero-area {
  background-color: #1e1e1e;
  min-height: calc(100vh-88px);
  padding: 100px 0;
}
.hero-text h3 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}
.hero-text h2 {
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #ffffff;
}
.hero-text p {
  font-size: 16px;
  line-height: 32px;
  margin: 25px 0;
  color: rgba(255, 255, 255, 0.64);
}
.hero-text a {
  display: inline-block;
  padding: 15px 25px;
  background-color: #ef6d58;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
}

/* 
service area
*/
.service-area {
  padding: 85px 0;
}

.section-heading {
  margin-bottom: 55px;
}
.single-service {
  padding: 50px;
  border: 1px solid #f3d1bf;
}
.service-one {
  border-radius: 6px 0px 0px 6px;
}
.service-two {
  border-radius: 0px 6px 6px 0px;
}
.service-heading {
  display: flex;
  align-items: center;
}
.service-heading i {
  font-size: 32px;
  color: #fff;
  background-color: #ef6d58;
  border-radius: 60%;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
}
.service-heading h3 {
  margin-left: 15px;
  margin-bottom: 0;
}
.service-text p {
  margin: 25px 0;
  color: #391400;
}
.service-text a {
  display: inline-block;
  padding-left: 55px;
  padding-top: 12px;
  position: relative;
  text-decoration: none;
  color: #391400;
}
.service-text a::after {
  position: absolute;
  content: "\2b";
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.64);
  left: 0px;
  top: 0;
  font-size: 30px;
  color: #ef6d58;
  border-radius: 50px;
}

/* 
Contact area
*/
.contact-area {
  padding: 85px 0;
  background-color: #28293e;
}
.contact-area ul {
  margin: 0;
  padding: 0;
}
.contact-area ul li {
  margin: 15px 0;
}
.contact-area ul li a {
  margin-right: 15px;
}
.contact-form {
  padding: 50px;
  background-color: #fff;
}
.contact-form h3 {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.contact-form button {
  background-color: #ef6d58;
  color: #fff;
  display: block;
  margin-top: 15px;
}
.contact-form button:hover {
  background-color: rgb(246, 238, 238);
  color: #1e1e1e;
}
.contact-text ul li i {
  margin-right: 15px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ef6d58;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
}
.contact-text ul li a {
  color: #fff;
  text-decoration: none;
}
/* 
 Footer area
 */
.footer-area {
  padding: 25px 0;
}
.footer-area p {
  margin-bottom: 0;
  color: #391400;
}

@media only screen and (max-width: 1399px) {
  .section-heading h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  .hero-area {
    padding: 70px 0;
  }
  .service-area {
    padding: 70px 0;
  }
  .section-heading h3 {
    font-size: 25px;
  }
  .contact-area {
    padding: 70px 0;
  }
  .footer-area {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 991px) {
  .header-area.navber-toggler {
    text-decoration: none;
    box-shadow: none;
  }
  .hero-area {
    padding: 60px 0px;
    padding-left: 20px;
  }
  .hero-text h2 {
    font-size: 32px;
  }

  /* service area */

  .service-area h2 {
    font-size: 45px;
  }
  .service-heading h3 {
    font-size: 18px;
  }

  .contact-area {
    padding: 60px 0;
  }
  .contact-area .contact-text {
    margin-top: 70px;
  }
  .contact-area h1 {
    font-size: 20px;
  }
  .contact-area h2 {
    font-size: 45px;
  }

  /* footer area */
  .footer-area {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 575px) {
  .hero-area {
    padding: 60px 0px;
  }
  .hero-text h2 {
    font-size: 30px;
  }

  /* service area */

  .service-area h2 {
    font-size: 40px;
  }
  .service-heading h3 {
    font-size: 18px;
  }

  .contact-area {
    padding: 60px 1px;
  }
  .contact-area .contact-text {
    margin-top: 70px;
  }
  .contact-area h1 {
    font-size: 20px;
  }
  .contact-area h2 {
    font-size: 40px;
  }

  /* footer area */
  .footer-area {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 425px) {
  /*  hero area */

  .hero-area {
    padding: 50px 0px;
    padding-left: 20px;
  }
  .hero-text h2 {
    font-size: 28px;
  }
  .hero-text p {
    font-size: 14px;
  }
  /* service area */

  .service-area h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .service-heading h3 {
    font-size: 16px;
  }

  /* Contact area */
  .contact-area {
    padding: 50px 0px;
    padding-left: 20px;
  }
  .contact-area .contact-text {
    margin-top: 60px;
  }
  .contact-area h1 {
    font-size: 14px;
  }
  .contact-area h2 {
    font-size: 30px;
  }
  .contact-area h3 {
    font-size: 18px;
  }
  .contact-area p {
    font-size: 14px;
  }

  /* footer area */
  .footer-area {
    padding: 20px 0;
  }
}
